            <footer>
                <p>&#169; {{ now.Format "2006" }} {{ $.Site.Params.name }}. This site follows a <a href="{{ "/code-of-ethics/" | absURL }}">Code of Ethics.</a></p>
                <p>Made with <span class="emoji">❤️</span> in {{ $.Site.Params.location }}</p>
            </footer>
        </div>

        <script src="/js/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
        <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""/></noscript>

    </body>
</html>